</html>
  <body>
    <div class="container">
      <div class="row">
        <div class="carousel slide data-interval=1000 carousel-fade" data-ride="carousel" style="overflow: hidden;">
          <div class="carousel-inner" style="height: 80vh;">
            <div class="carousel-item active">
              <img src="/assets/top1.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
              <img src="/assets/top2.jpg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
              <img src="/assets/top3.jpg" class="d-block w-100" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
      <h1 class="app-name" style="font-family: 'Playfair Display', serif; font-size: 50px; font-weight: bold;">Coffee farm</h1>
    </div>

    <div class="text-center mt-4">
      <p class="app-description">アプリの説明文</p>
    </div>
  </body>
</html>


