<main class="form-signin" style="width: 100%; max-width: 650px; padding: 15px; margin: 0 auto;">
  <div class="search-results" style="margin-top: 20px;">
    <h1>New Profile</h1>
    
    <%= render 'form', profile: @profile %>
  </div>
</main>
<%= link_to 'Back', blogs_path %>
