<br>
<h1 class="title">お気に入り一覧</h1>
  <% if @favorite_list.present? %>
    <% @favorite_list.each do |blog| %>
      <%= blog.name %>
      <%= image_tag blog.image.url%>
    <% end %>
  <% end %>
<%= link_to 'Back', blogs_path %>
 <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @favorite_list.present? %>
          <%= render @favorite_list %>
        <% end %>
      </div>
    </div>
  </div>