// body {
//   background-image: url("/assets/background.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-color: rgba(255, 255, 255, 0.5);
// }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
body {
  padding-top: 70px; /* ヘッダーの高さ分の余白を追加 */
  padding-bottom: 56px; /* フッターの高さ分の余白を追加 */
  background: radial-gradient(circle at bottom, #f2dcb1 20%, #ffc97c 50%, #cfa05f 80%);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}

